           <a class='active item' style="width: 50px;height: 60px;" href="index.jsp">
                <i aria-hidden='true' class='home icon' style="color: #0066ff"></i>
                <b>Home</b>
            </a>

            <a id="EEE" class='item' style="width: 50px" title="Electrical engineering">
                <i aria-hidden='true' class='lightbulb outline icon' style="color: #0066ff"></i>
                <b>EEE</b>               
            </a>
            <a id="ECE" class='item' style="width: 50px" title="Electronics & Communication engineering">
                <i aria-hidden='true' class='microchip icon' style="color: #0066ff"></i>
                <b>ECE</b>                
            </a>
            <a id="CSE" class='item' style="width: 50px" title="Computer Science & engineering">
                <i aria-hidden='true' class='computer icon' style="color: #0066ff"></i>              
            </a>
            <a id="MECH" class='item' style="width: 50px" title="Mechanical engineering">
                <i aria-hidden='true' class='car icon' style="color: #0066ff"></i>
                <b>MECH</b>                
            </a>
            <a id="CVL" class='item' style="width: 50px" title="Civil engineering">
                <i aria-hidden='true' class='building icon' style="color: #0066ff"></i>
                <b>CE</b>               
            </a>
            <a id="CE" class='item' style="width: 50px" title="Chemical engineering">
                <i aria-hidden='true' class='theme icon' style="color: #0066ff"></i>
                <b>CHE</b>                 
            </a>
            <a id="MME" class='item' style="width: 50px" title="Materials & Metallurgical engineering">
                <i aria-hidden='true' class='dot circle icon' style="color: #0066ff"></i>
                <b>MME</b>                
            </a>
            <a class='item' style="width: 50px">
            </a>